<!DOCTYPE html>
<html lang="en">
<head>
<meta property="og:title" content="URL Shorter">
<meta property="og:description" content="URL Shorter was created to shorten long links.">
<meta name="description" content="URL Shorter was created to shorten long links.">
<meta name="og:image" content="https://cdn.discordapp.com/attachments/753632375858135152/757253582700675144/url-s-icon.png">
<meta name="theme-color" content="#4086f4">
<link href="https://fonts.googleapis.com/icon?family=Markazi+Text" rel="stylesheet">
<meta content="width=device-width, initial-scale=1.0" name="viewport">
<link rel="shortcut icon" type="image/png" href="https://cdn.discordapp.com/attachments/753632375858135152/757253582700675144/url-s-icon.png" />
<title>URL Shorter</title>
<link rel="stylesheet" href="/css/urlshorter.css"/>
</head>

<body>

<header>
<div id="top">
<div id="logo"><a href="/" class="logo"><img src="https://cdn.discordapp.com/attachments/753632375858135152/757251450177847376/url-s.png" width="400"></a></div>
</header>
<main>
<br><br><br><br>
<section id="urlbox">
<h1 style="color:#f04747">Unsuccessful!</h1>
<form action="/" method="post">

</form>
  <p class="boxtextleft">The URL you are trying to add already exists in the system. <i>(First generated code: <a href="/~<%=kod%>"><%=kod%></a>)</i> <br>Create other <a href="/">shortened URL.</a></p>
</section>

          <script type="text/javascript">
function copy(){
var text = document.getElementById('text');
var range = document.createRange();

range.selectNode(text);
window.getSelection().addRange(range);
document.execCommand('copy');

}
</script>
  
</main>
</body>
  
<style>
  input[type=url],textarea{vertical-align:middle;border-radius:3px;border:1px solid #dfdfdf;color:#444}
  input[type=email],input[type=url],textarea{font:16px lato,arial;padding:8px;vertical-align:middle;border-radius:1px;border:1px solid #b6b6b6;box-shadow:inset 0 1px 2px rgba(0,0,0,.1),0 -1px 1px #fff,0 1px 0 #fff}
  #formurl input[type=url]{display:table-cell;width:100%;height:56px;padding:10px 16px;font:17px lato,arial;color:#000;background:#fff;border:1px solid #bbb;border-right:0;border-radius:3px;border-bottom-right-radius:0;border-top-right-radius:0;box-sizing:border-box}
  </style>
</html>